/* Change color to WP Blue
li#wp-admin-bar-purge-varnish-cache.varnish-http-purge {
	background: #0073AA;
}
*/

/* Add Orange Carrot Dashicon */
#wpadminbar #wp-admin-bar-purge-varnish-cache .ab-icon:before {
	content: '\f511'; 
	top: 4px;
	color: #F56E28;
}