/* Add Orange Carrot Dashicon */
#wpadminbar #wp-admin-bar-purge-varnish-cache .ab-icon:before {
	content: '\f511'; 
	top: 4px;
	/*color: #F56E28;*/
}

/* Add Orange Carrot to Button */
span.dashicons.dashicons-carrot.varnish-http-purge {
	color: #F56E28;
	vertical-align: middle;
}

@media screen and (max-width: 782px) {
	#wpadminbar li#wp-admin-bar-purge-varnish-cache{
		display: block!important;
	}
}